<h1 class="--title">THÔNG TIN CHUNG</h1>
<div class="detail_account">
    <p class="-content">
        <span class="-account">Cập nhật thông tin tài khoản</span>
    </p>
    <div class="update_profile">
        <div class="form-group_user">
            <label for="" class="title">Tài khoản</label>
            <input type="text" class="info" disabled value="{{ data.fullName }}">
        </div>
        <div class="form-group_user">
            <label for="" class="title">Địa chỉ email</label>
            <input type="text" class="info" disabled value="{{ data.email }}">
        </div>
        <form action="/private/account-detail?_method=PATCH" method="POST" enctype="multipart/form-data">
            <div class="form-group_user">
                <label for="" class="title">Tên</label>
                <input type="text" class="info" name="firstName" value="{{ data.infoAccount.firstName }}">
            </div>
            <div class="form-group_user">
                <label for="" class="title">Họ</label>
                <input type="text" class="info" name="lastName" value="{{ data.infoAccount.lastName }}">
            </div>
            <div class="form-group_user">
                <label for="" class="title">Tuổi</label>
                <input type="text" class="info" name="age" value="{{ data.infoAccount.age }}">
            </div>
            <div class="form-group_user">
                <label for="" class="title">Giới tính</label>
                <select class="--gender" name="gender">
                    <option value="Nam" {{gender 'Nam' data.infoAccount.gender}}>Nam</option>
                    <option value="Nữ" {{gender 'Nữ' data.infoAccount.gender}}>Nữ</option>
                </select>
            </div>
            <div class="form-group_user">
                <label for="" class="title">Tải avatar lên nè🤭</label>
                <input type="file" class="info" name="avatar">
            </div>
            <div class="form-group_user">
                <button class="btn">
                    <i class="fas fa-pencil-alt"></i>
                    Cập nhật
                </button>
            </div>
        </form>
    </div>
</div>