<div class="upload_story">
    <h1 class="tittle_list-story">Danh sách truyện của bạn</h1>
    <div class="table_story">
        <ul class="--menu">
            <li class="-name-story">
                <i class="fas fa-signature"></i>
                Tên truyện
            </li>
            <li class="-state border-left-btn">
                <i class="fas fa-flag-usa"></i>
                Tình trạng
            </li>
            <li class="-chapter-present border-left-btn">
                <i class="fas fa-book-open"></i>
                Chapter
            </li>
            <li class="-time-up border-left-btn">
                <i class="fas fa-pencil-alt"></i>
                Ngày cập nhật mới nhất
            </li>
            <li class="-add-story background btn-add border-left-btn" id="add-story">
                <i class="fas fa-plus"></i>
                truyện mới
            </li>
            <li class="-add-chapter border-left-btn">
                {{!-- <i class="fas fa-plus"></i>
                chapter --}}
            </li>
        </ul>
        {{#each data.storys}}
            <ul class="--story" id_story="{{this._id}}">
                <li class="-name-story">
                    {{this.nameStory}}
                </li>
                <li class="-state border-left-btn">
                    {{this.state}}
                </li>
                <li class="-chapter-present border-left-btn">
                    {{this.chapterPresent}}
                </li>
                <li class="-time-up border-left-btn">
                    {{this.updateStory}}
                </li>
                <li class="-edit-story background btn-add border-left-btn" id="edit_story">
                    <i class="far fa-edit"></i>
                    Chỉnh sửa
                </li>
                <li class="-remove-story background btn-add border-left-btn delete" id="delete_story">
                    <i class="far fa-trash-alt"></i>
                    Xoá
                </li>
                <li class="-add-chapter border-left-btn btn-add">
                    <i class="fas fa-plus"></i>
                    chapter
                </li>
            </ul>
        {{/each}}
    </div>
</div>