<div class="container">
    <div class="user_properties">
        <ul class="route_list">
            <li class="-item">Trang chủ » Thông tin chung</li>
        </ul>
        <div class="user_profile">
            <div class="route_detail">
                <div class="show_user">
                    <span class="-avatar">
                        <img src="{{ showAvatar data.infoAccount.avatar data.infoAccount.gender }}" alt="avatar">
                    </span>
                    <p class="-info">
                        <span class="--hello">Chào bạn nè🤭</span>
                        <span class="--user-name">{{ handleName data }}</span>
                    </p>
                </div>
                <ul class="-index">
                    <li class="--item {{ getTick profile }}">
                        <a href="/private/profile">
                            <i class="fab fa-wizards-of-the-coast"></i>
                            Thông tin chung
                        </a>
                    </li>
                    <li class="--item {{ getTick accountDetail }}">
                        <a href="/private/account-detail">
                            <i class="fas fa-info-circle"></i>
                            Thông tin tài khoản
                        </a>
                    </li>
                    <li class="--item {{ getTick false }}">
                        <a href="">
                            <i class="far fa-eye"></i>
                            Truyện đã theo dõi
                        </a>
                    </li>
                    <li class="--item {{ getTick registrationAuthor uploadStory addStory editStory }}">
                        <a href="/private/upload-story">
                            <i class="fas fa-list-ul"></i>
                            Truyện đã đăng
                        </a>
                    </li>
                    <li class="--item {{ getTick false }}">
                        <a href="">
                            <i class="far fa-comment-dots"></i>
                            Bình luận
                        </a>
                    </li>
                    <li class="--item {{ getTick false }}">
                        <a href="">
                            <i class="far fa-bell"></i>
                            Thông báo
                        </a>
                    </li>
                    <li class="--item {{ getTick changePassword }}">
                        <a href="/private/change-password">
                            <i class="fas fa-lock"></i>
                            Đổi mật khẩu
                        </a>
                    </li>
                    <li class="--item">
                        <a href="" class="logout" id="profile">
                            <i class="fas fa-sign-out-alt"></i>
                            Thoát
                        </a>
                    </li>
                </ul>
            </div>
            <div class="show_content">
                <h1 class="--title">THÔNG TIN CHUNG</h1>
                
                {{#if profile}}
                {{> profile }}
                {{/if}}

                {{#if accountDetail}}
                {{> account-detail }}
                {{/if}}
                
                {{!-- block upload story and change permisstion is author/wacher --}}
                    {{#if registrationAuthor}}
                    {{> registration-author }}
                    {{/if}}
                    {{#if uploadStory}}
                    {{> upload-story }}
                    {{/if}}
                    {{#if addStory}}
                    {{> add-story }}
                    {{/if}}
                    {{#if editStory}}
                    {{> edit-story }}
                    {{/if}}
                {{!-- block upload story and change permisstion is author/wacher --}}

                {{#if changePassword}}
                {{> change-password }}
                {{/if}}

            </div>
        </div>
    </div>
</div>